header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1c1d1e;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    height: 3.5rem;
    margin-right: 0.5rem;
  }
  
  .logo-container span {
    color: white;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 0.5rem;
  }
  
  nav a {
    text-decoration: none;
    color: #727272;
  }
  
  .item_1 {
    color: white;
  }
  
  .item_2 {
    color: green;
  }
/*----------------------section LA CONFERENCIA---------------------------------*/

  
.section {
    height: 30em;
    background: url(imagenes/ba1.jpg) center/cover no-repeat;
    position: relative;
  }
  
.titulo_h1 {
    position: absolute;
    top: 8em;
    right: 3em;
  }
  
.texto_h1 {
    position: absolute;
    top: 15em;
    right: 5em;
    
    text-align: right;
    width: 38%;
    color: white;
  }
.titulo_h1 {

    color: white;
    position: absolute;
    right: 5em;

  }
  
.mi-boton1, .mi-boton2{
    position: absolute;
    top: 30em;
    height: 35px;
    color: white;
    font-weight: bold;
    border-radius: 10%;

  }


.mi-boton1 {
    right: 24em;
    border: 1px solid white;
    opacity: 0.9;
    background-color: transparent;
  }
  
.mi-boton2 {
    right: 14em;
    background-color: green;
  }

/*--------------------section-1 LOS ORADORRES--------------*/

.section_1-container {
    
  
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h3, h1 {

     text-align: center;
    }
  
.tarjeta-container {
    
    display: flex;
   justify-content: space-around;
    align-items: center;
    }
  
.tarjeta1, .tarjeta2, .tarjeta3 {
    margin: 0 10px;
    width: 250px;
    border: 1px solid black;
    border-radius: 1%;
    }

.tarjeta1 img, .tarjeta2 img, .tarjeta3 img {
    height: 250px; 
    width: auto;
    }

#Los-ordadoes p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: small;
    text-align: justify;
    }
    .mi-boton3 {

        background-color: orange;
        border-radius: 3px;
        border: 0px;
        
    }
    .mi-boton4 {
        background-color: skyblue;
        color: white;
        border-radius: 3px;
        border: 0px;
    }
    .mi-boton_n {

        background-color: #333a40;
        color: white;
        border-radius: 3px;
        border: 0px;
    }
    .mi-boton_s {

        background-color: red;
        color: white;
        border-radius: 3px;
        border: 0px;
    }
  

/*-----------------------section-2 EL LUGAR Y LA FECHA -----------*/

.section-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    }

.caja {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.caja div {
    width: 50%;
    }

.caja aside {
    border: 1px solid grey;
    width: 50%;
    height: 23em;
    background-color: #333a40;;
    padding: 0 20px;
    }
.section-2, .titlulo, .desc {
    text-align: left; 
    width: auto;
    font-size: medium;
    color: white;
    margin-left: 10px;
    }

.mi-boton5 {
    height: 3em;
    
    border-radius: 10%;
    border: 1px solid white;
    opacity: 0.9;
    background-color: transparent;
    color: white;
    }

.caja img {
    max-width: 100%;
    height: auto;
    }

.subrayado {
        text-decoration: underline;
    }

/*--------------------Formulario-----------------------*/

.orador p {
    font-size: small;
}
#Conviertete-en-orador h1, h4{

    text-align: center;
}
form {
    display: table;
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
        
}

label { 
    margin-bottom: 10px;
    font-weight: bold;
    box-sizing: border-box;
}
      
       
input[type="text"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
      


      
input[type="submit"]:hover {
    background-color: #45a049;
}
button[type="submit"]{
    width: 1200px;
    height: 40px;
    color: white;
    background-color: orange;
    border-radius: 4px;
}
/*------------------------------footer------------------*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color:#1c1d1e;
    margin-left: 65px;   
    margin-right: 65px; 
    

}


    

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}
  
li {
    margin: 0 1rem;
}